@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: rgb(23, 23, 23);
}
body .weather_container {
  min-height: 100vh;
  background-image: url(/src/imgs/day/cloudy.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  transition: 500ms;
  opacity: 1;
}
body .weather_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
body .weather_container .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 3em 4em 3em;
}
body .weather_container .container > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
body .weather_container .container > div .date {
  margin: 0 0.5em;
}
body .weather_container .container > div .city {
  margin: 0.3em 0;
  font-size: 2em;
}
body .weather_container .container > div .condition {
  margin: 0.3em 0;
  font-size: 1.5em;
}
body .weather_container .container > div .temp {
  margin: 0;
  font-size: 10em;
}
body .weather_container .container .container_header {
  align-items: center;
}
body .weather_container .container .header_date {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .weather_container .container form {
  position: relative;
}
body .weather_container .container form input {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.7em;
  border-radius: 5px;
  outline: none;
  width: 20em;
}
body .weather_container .container form input::-moz-placeholder {
  color: white;
  font-size: 1.2em;
}
body .weather_container .container form input:-ms-input-placeholder {
  color: white;
  font-size: 1.2em;
}
body .weather_container .container form input::placeholder {
  color: white;
  font-size: 1.2em;
}
body .weather_container .container form input:focus {
  color: #fff;
}
body .weather_container .container form button {
  position: absolute;
  right: 0;
  background: transparent;
  border: 1px solid transparent;
  border: none;
  padding: 0.7em;
  border-radius: 5px;
  color: #fff;
}
body .weather_container .container form button:hover {
  cursor: pointer;
}
body .weather_container .container .body_right {
  width: 60%;
  height: 35em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
body .weather_container .container .body_right .daily_widget ul li {
  background-color: rgba(110, 110, 110, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0 1em;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14em;
  height: 4em;
  font-size: 1.5em;
}
body .weather_container .container .body_right .daily_widget ul li:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
body .weather_container .container .body_right .daily_widget ul li:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
body .weather_container .container .body_right .daily_widget ul li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .weather_container .container .body_right .cloudinfo {
  display: flex;
  justify-content: end;
}
body .weather_container .container .body_right .cloudinfo .under_cloud {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
body .weather_container .container .body_right .cloudinfo .under_cloud > div {
  width: 16em;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0;
}
body .weather_container .container .body_right .cloudinfo .under_cloud .icon_info::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20em;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.448), rgb(147, 147, 147));
}
body .weather_container .container .body_right .cloudinfo .under_cloud .text_info {
  height: 2em;
  font-size: 1.1em;
  padding-left: 15px;
}/*# sourceMappingURL=style.css.map */